label {
    display: inline-block;
    padding: 2px;
    margin: 5px;
    width: 100px;
    text-align: right;
}

input, textarea {
    display: inline-block;
    padding: 2px;
    margin: 5px;
    width: 300px;
}

label[for="opmerking"] {
    vertical-align: top;
}

input[id="tijdstip"] {
    width: 10px;
}

label[for="tijdstip"] {
    width: 20px;
}

input[id="opmerking"] {
    display: none;
    visibility: hidden;
}