body {
    background-color: #6d8580;
    font-family: Calibri;
}

nav, #hoofd {
    background-color: #638d88;
    border: 1px solid #000000;
    color: #ffffff;
}

#audia7 {
    float: left;
    height: auto;
    width: 30%;
    margin: 5px;
}

#hoofd {
    float: right;
    width: 65%;
    height: auto;
    clear: none;
}

#empty_element {
    clear: both;
}

main {
    background-color: #bfd1ce;
    border: 1px solid #000000;
    float: right;
    width: 80%;
    margin: 5px;
}

nav {
    float: left;
    width: 15%;
    font-size: 10%;
    margin: 5px;
}

section {
    clear: both;
}

#interieur {
    float: left;
    height: 10em;
    margin: 5px;
}

#dashboard {
    float: right;
    height: 10em;
    margin: 30px;
}

main h1 {
    margin: 5px;
    border: none;
    border-bottom : 5px inset #000000;
    clear: both;
}

nav, header h1 {
    margin: 5px;
    border: none;
    border-bottom : 5px outset #000000;
}

a:link {
    color: #ffffff;
    text-decoration: none;
}

a:visited {
    color: #ffffff;
    font-weight: bold;
}