body {
    background-color: #00007a;
}

header {
    text-align: center;
    color: #f8f803;
}

.floating\.box {
    padding: 5px;
    border: 3px solid #f8f803;
    border-radius: 10px;
    width: 600px;
    float: left;
    width: 25%;
    margin: 5px;
    min-width: 200px;
    box-sizing: border-box;
}

audio {
    width: 100%;
}

#leeg_element {
    clear: both;
}

article:hover {
    background: #8daec6;
}

