body{
    background-color:red;
}

/*  <1200 green*/
@media screen and (max-width:1200px) {
    body{
        background-color:green;
    }
}

/*  <780 blue*/
@media screen and (max-width:780px) {
    body{
        background-color:blue;
    }
}

