table {
    font-family: "Roboto Thin";
    text-align: center;
    color: #ffffff;
    border-collapse: collapse;
    font-family: "Roboto Thin", "Calibri Light";

}

th, td {
    border: 2px solid #000000;
}

thead > tr:nth-child(3) {
    table-layout: fixed ;
}

tbody > th {
    table-layout: fixed;
    width: 80%;
}

thead, tfoot {
    background: #27426d;
}

tbody tr:nth-child(even) {
    background: #4f8cef;
}

tbody tr:nth-child(odd) {
    background: #6facff;
}

