body {
    font-family: "Handy Andy", Verdana;
    color: black;
}

img {
    max-width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto }
}

h1 {
    font-weight: bold;
    color: #00008b;
}

#spellen {
    background: #ffcccc
}

#favoriet {
    background: #ffffcc;
}