table {
    border: solid #000 1px;
    border-spacing: 0px;
    table-layout: fixed;
    width: 400px;
    height: 400px;
}

td {
    border: solid #000 1px;
}

tr:nth-child(1)>td:nth-child(1), tr:nth-child(3)>td:nth-child(1) {
    background: green;
}

tr:nth-child(2)>td:nth-child(3), tr:nth-child(5) {
    background: yellow;
}

tr:nth-child(1)>td:nth-child(2), tr:nth-child(2)>td:nth-child(2) {
    background: red;
}

tr:nth-child(2)>td:nth-child(1), tr:nth-child(4) {
    background: blue;
}

tr:nth-child(3)>td:nth-child(2) {
    background: white;
}